{% extends 'ar/base/base.html' %}

{% load static %}

{% block title %} الإدارة - العملاء {% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid" style="width:100%;height:200px;text-align:center;">
<h1>الإدارة - العملاء</h1>
</div>

<div class="container p-5">
  <h3>قسم بطاقات السفر</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in tickets %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم الحجوزات الفندقية</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in booking %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم الرحلات</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in trips %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم الفيز</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in visas %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم القبولات الدراسية</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in education %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم زراعة الشعر</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in hair %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم طب العيون</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in optic %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم طب الاسنان</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in dentist %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>قسم الجراحة التجميلية</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in plastic %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<hr>
  <h3>قسم العلاج العام</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الاسم الكامل</th>
      <th scope="col">عنوان البريد الألكتروني</th>
      <th scope="col">رقم الهاتف</th>
    </tr>
  </thead>
  <tbody>
  {% for item in general %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
</div>
{% endblock %}
