{% extends 'en/base/base.html' %}

{% load static %}

{% block title %} Administration - Customers {% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid" style="width:100%;height:200px;text-align:center;">
<h1>Administration - Customers</h1>
</div>

<div class="container p-5" >
  <h3>Tickets Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in tickets %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Booking Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in booking %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Trips Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in trips %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Visas Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in visas %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Education Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in education %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Hair Transplantation Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in hair %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Ophthalmology Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in optic %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Dentistry Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in dentist %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
  <h3>Cosmetic Surgery Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in plastic %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<hr>
  <h3>General Treatment Section</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fullname</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for item in general %}
    <tr>
      <td>{{ item.fullname }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
</div>
{% endblock %}
